.project-item
	position: relative
	&:hover
		.management-icons
			display: block
	&__logo-wrapper
		height: 266px
		display: flex
		justify-content: center
		align-items: center
		border-bottom: 2px solid $lightgrey
		overflow: hidden
	&__logo
		max-width: 100%
	&__description
		text-align: center
		padding: 25px 15px
	&__category
		display: inline-block
		font-weight: bold
		color: $lightblue
		font-size: 12px
		margin: 0 3px
	&__title
		font-weight: bold
		margin: 0
		color: $darkblue
		display: block
		font-size: 14px
