.origami-form
	&__form-group
		margin-bottom: 20px
	&__input
		width: 100%
		padding: 10px 16px
		border: 1px solid #ebedef
		color: $darkblue
		&::placeholder
			color: $lightblue
		&:focus
			border-color: $lightblue
			outline: none
		&_textarea
			resize: none
